nodered_flows_examples.json
[
    {
        "id": "example_flows",
        "type": "tab",
        "label": "Human Detection API Examples",
        "disabled": false,
        "info": "Example flows untuk integrate dengan Human Detection API"
    },
    {
        "id": "comment1",
        "type": "comment",
        "z": "example_flows",
        "name": "Example 1: Polling Detection Data (Every 5 seconds)",
        "info": "Poll detection data dari API setiap 5 detik",
        "x": 250,
        "y": 40
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "example_flows",
        "name": "Trigger every 5s",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [["http1"]]
    },
    {
        "id": "http1",
        "type": "http request",
        "z": "example_flows",
        "name": "Get Detection",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:5000/api/camera/front_door/detection",
        "x": 340,
        "y": 80,
        "wires": [["switch1"]]
    },
    {
        "id": "switch1",
        "type": "switch",
        "z": "example_flows",
        "name": "Check if person detected",
        "property": "payload.human_count",
        "rules": [
            {"t": "gt", "v": "0", "vt": "num"}
        ],
        "checkall": "true",
        "repair": false,
        "x": 560,
        "y": 80,
        "wires": [["function1"]]
    },
    {
        "id": "function1",
        "type": "function",
        "z": "example_flows",
        "name": "Format Alert",
        "func": "msg.payload = `🚨 ALERT: ${msg.payload.human_count} orang terdeteksi di ${msg.payload.camera_id} pada ${new Date().toLocaleString()}`;\\nreturn msg;",
        "x": 770,
        "y": 80,
        "wires": [["debug1"]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "example_flows",
        "name": "Show Alert",
        "active": true,
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "comment2",
        "type": "comment",
        "z": "example_flows",
        "name": "Example 2: Real-time Events (Server-Sent Events)",
        "info": "Subscribe ke real-time events dari API",
        "x": 240,
        "y": 160
    },
    {
        "id": "inject2",
        "type": "inject",
        "z": "example_flows",
        "name": "Connect to SSE",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [["http2"]]
    },
    {
        "id": "http2",
        "type": "http request",
        "z": "example_flows",
        "name": "SSE Stream",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:5000/api/events",
        "x": 330,
        "y": 200,
        "wires": [["json1"]]
    },
    {
        "id": "json1",
        "type": "json",
        "z": "example_flows",
        "name": "Parse Event",
        "x": 510,
        "y": 200,
        "wires": [["debug2"]]
    },
    {
        "id": "debug2",
        "type": "debug",
        "z": "example_flows",
        "name": "Event Data",
        "active": true,
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment3",
        "type": "comment",
        "z": "example_flows",
        "name": "Example 3: Webhook Receiver (API pushes data to Node-RED)",
        "info": "Receive webhook dari API saat ada detection",
        "x": 260,
        "y": 280
    },
    {
        "id": "httpin1",
        "type": "http in",
        "z": "example_flows",
        "name": "Webhook Endpoint",
        "url": "/webhook/human-detection",
        "method": "post",
        "x": 150,
        "y": 320,
        "wires": [["function2", "httpresponse1"]]
    },
    {
        "id": "httpresponse1",
        "type": "http response",
        "z": "example_flows",
        "name": "Response OK",
        "statusCode": "200",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "function2",
        "type": "function",
        "z": "example_flows",
        "name": "Process Detection",
        "func": "var count = msg.payload.human_count;\\nvar camera = msg.payload.camera_id;\\nvar timestamp = msg.payload.timestamp;\\n\\nif (count > 0) {\\n    msg.payload = {\\n        alert: `${count} orang terdeteksi`,\\n        camera: camera,\\n        time: timestamp,\\n        count: count\\n    };\\n    return msg;\\n}\\nreturn null;",
        "x": 380,
        "y": 320,
        "wires": [["debug3"]]
    },
    {
        "id": "debug3",
        "type": "debug",
        "z": "example_flows",
        "name": "Webhook Data",
        "active": true,
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "comment4",
        "type": "comment",
        "z": "example_flows",
        "name": "Example 4: Add Camera via API",
        "info": "Add new camera to detection system",
        "x": 190,
        "y": 420
    },
    {
        "id": "inject3",
        "type": "inject",
        "z": "example_flows",
        "name": "Add Camera",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"camera_id\":\"front_door\",\"rtsp_url\":\"rtsp://admin:Admin123@192.168.1.64:554/Streaming/Channels/102\"}",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [["http3"]]
    },
    {
        "id": "http3",
        "type": "http request",
        "z": "example_flows",
        "name": "POST Add Camera",
        "method": "POST",
        "ret": "obj",
        "url": "http://localhost:5000/api/camera/add",
        "x": 330,
        "y": 460,
        "wires": [["debug4"]]
    },
    {
        "id": "debug4",
        "type": "debug",
        "z": "example_flows",
        "name": "Response",
        "active": true,
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "comment5",
        "type": "comment",
        "z": "example_flows",
        "name": "Example 5: Smart Lighting Control (Turn on light when person detected)",
        "info": "Control smart lights based on detection",
        "x": 290,
        "y": 540
    },
    {
        "id": "inject4",
        "type": "inject",
        "z": "example_flows",
        "name": "Poll every 2s",
        "props": [{"p": "payload"}],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 580,
        "wires": [["http4"]]
    },
    {
        "id": "http4",
        "type": "http request",
        "z": "example_flows",
        "name": "Get Detection",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:5000/api/camera/front_door/detection",
        "x": 320,
        "y": 580,
        "wires": [["function3"]]
    },
    {
        "id": "function3",
        "type": "function",
        "z": "example_flows",
        "name": "Control Light",
        "func": "// Turn on light if person detected\\nif (msg.payload.human_count > 0) {\\n    msg.payload = {\\n        state: 'ON',\\n        brightness: 100\\n    };\\n} else {\\n    msg.payload = {\\n        state: 'OFF'\\n    };\\n}\\nreturn msg;",
        "x": 510,
        "y": 580,
        "wires": [["debug5"]]
    },
    {
        "id": "debug5",
        "type": "debug",
        "z": "example_flows",
        "name": "Light Command",
        "active": true,
        "x": 700,
        "y": 580,
        "wires": []
    },
    {
        "id": "comment6",
        "type": "comment",
        "z": "example_flows",
        "name": "Example 6: Send to Milesight Gateway",
        "info": "Forward detection data to Milesight IoT gateway",
        "x": 220,
        "y": 660
    },
    {
        "id": "inject5",
        "type": "inject",
        "z": "example_flows",
        "name": "Poll every 5s",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 700,
        "wires": [["http5"]]
    },
    {
        "id": "http5",
        "type": "http request",
        "z": "example_flows",
        "name": "Get Detection",
        "method": "GET",
        "ret": "obj",
        "url": "http://localhost:5000/api/camera/front_door/detection",
        "x": 320,
        "y": 700,
        "wires": [["function4"]]
    },
    {
        "id": "function4",
        "type": "function",
        "z": "example_flows",
        "name": "Format for Milesight",
        "func": "msg.payload = {\\n    deviceId: `camera_${msg.payload.camera_id}`,\\n    timestamp: msg.payload.timestamp,\\n    data: {\\n        human_count: msg.payload.human_count,\\n        fps: msg.payload.fps\\n    },\\n    type: 'human_detection'\\n};\\nreturn msg;",
        "x": 540,
        "y": 700,
        "wires": [["http6"]]
    },
    {
        "id": "http6",
        "type": "http request",
        "z": "example_flows",
        "name": "Send to Milesight",
        "method": "POST",
        "ret": "obj",
        "url": "http://192.168.1.100:8080/api/data",
        "x": 760,
        "y": 700,
        "wires": [["debug6"]]
    },
    {
        "id": "debug6",
        "type": "debug",
        "z": "example_flows",
        "name": "Milesight Response",
        "active": true,
        "x": 970,
        "y": 700,
        "wires": []
    }
]
